---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    PhD researcher in Cognitive Robotics at TU Delft, focusing on data-driven methods for driving behavior analysis.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD, Cognitive Robotics, TU Delft, Netherlands"
      subtitle="2020 to 2024"
      
    >Developed data-centric methods for measuring and improving driving behavior. Worked closely with industry partners (insurance companies, driver analytics platforms, logistics companies) and institutions (CBR). Published in leading journals across transportation, safety and behavioral sciences. Implemented AI-enabled approaches, particularly leveraging recent advances in large language models and vehicle intelligence.
    </TimeLineElement>
    <TimeLineElement
      title="MSc, Mechanical Engineering, TU Delft, Netherlands"
      subtitle="2015 to 2019. Track Biomechanical Design."
    />
    <TimeLineElement
      title="BSc,  Mechanical Engineering, "
      subtitle="2011 to 2015"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Intern, Honda Research Institute Europe, Offenbach, Germany"
      subtitle="2018 to 2019"
    >
      Designed and evaluated a vibrotactile belt for signaling road dangers to drivers. Work resulted in a journal paper and patent application (EP3723066A1). Part of the Human-Robot Interaction research group.
    </TimeLineElement>
    <TimeLineElement
      title="Internship, Solar Monkey, Delft, Netherlands"
      subtitle="2018"
    />
    <TimeLineElement
    title="Teaching Assistant, TU Delft, Netherlands"
    subtitle="2017 to 2019. Courses: Statics, Dynamics"
  />
  </div>

  <div class="mb-5">
    <div id="publications" class="text-3xl w-full font-bold">Publications & Talks</div>
  </div>
  <div class="mb-5">
  See <a href="/publications" class="text-black-600 underline hover:text-black-800">publications page</a>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tools</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>MATLAB</li>
    <li>React</li>
    <li>GitHub</li>
    <li>QGIS</li>
    <li>PostgreSQL</li>
    <li>Google Cloud</li>
    <li>Paperspace</li>
    <li>Azure ML Studio</li>
    <li>Docker</li>
    <li>AI/ML</li>
  </ul>
</BaseLayout>