---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    PhD researcher in Cognitive Robotics at TU Delft, focusing on data-driven methods for driving behavior analysis.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD, Cognitive Robotics, TU Delft, Netherlands"
      subtitle="2020 to 2024"
      
    >      Developed data-centric methods for measuring and improving driving behavior. Worked closely with industry partners (insurance companies, driver analytics platforms, logistics companies) and institutions (CBR). Published in leading journals across transportation, safety and behavioral sciences. Implemented AI-enabled approaches, particularly leveraging recent advances in large language models and vehicle intelligence.
    </TimeLineElement>
    <TimeLineElement
      title="MSc, Mechanical Engineering, TU Delft, Netherlands"
      subtitle="2015 to 2019. Track Biomechanical Design."
    />
    <TimeLineElement
      title="BSc,  Mechanical Engineering, "
      subtitle="2011 to 2015"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="PhD Candidate, Cognitive Robotics, TU Delft"
      subtitle="2020 to 2024 at TU Delft, Delft, Netherlands"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Research Intern, Honda Research Institute Europe, Offenbach, Germany"
      subtitle="2018 to 2019"
    >
      Designed and evaluated a vibrotactile belt for signaling road dangers to drivers. Work resulted in a journal paper and patent application (EP3723066A1). Part of the Human-Robot Interaction research group.
    </TimeLineElement>
    <TimeLineElement
      title="Internship, Solar Monkey, Delft, Netherlands"
      subtitle="2018"
    />
  </div>

  <div class="mb-5">
    <div id="publications" class="text-3xl w-full font-bold">Publications & Talks</div>
  </div>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">Journal Publications</div>
  </div>
  <ul class="list-disc mx-6 mb-6 grid gap-2">
    <li>
      <a href="https://doi.org/10.3390/robotics13120169" target="_blank" class="hover:underline">Driessen, T., Siebinga, O., de Boer, T., Dodou, D., de Waard, D., & De Winter, J. (2024). How AI from automated driving systems can contribute to the assessment of human driving behavior. Robotics, 13(12), 169.</a>
    </li>
    <li>
      <a href="https://doi.org/10.1098/rsos.231676" target="_blank" class="hover:underline">Driessen, T., Dodou, D., Bazilinskyy, P., & De Winter, J. (2024). Putting ChatGPT vision (GPT-4V) to the test: Risk perception in traffic images. Royal Society Open Science, 11(5), 231676.</a>
    </li>
    <li>
      <a href="https://doi.org/10.1016/j.paid.2024.112729" target="_blank" class="hover:underline">De Winter, J., Driessen, T., & Dodou, D. (2024). The use of ChatGPT for personality research: Administering questionnaires using generated personas. Personality and Individual Differences, 228, 112729.</a>
    </li>
    <li>
      <a href="https://doi.org/10.1080/19427867.2024.2352198" target="_blank" class="hover:underline">Driessen, T.*, Stefan, D.*, Heikoop, D., Dodou, D., & De Winter, J. (2024). Using mobile devices for driving test assessment: A study of acceleration and GPS data. Transportation Letters, 1–11.</a>
    </li>
    <li>
      <a href="https://doi.org/10.1177/03611981231211897" target="_blank" class="hover:underline">Driessen, T., Dodou, D., de Waard, D., & De Winter, J. (2024). Predicting Damage Incidents, Fines, and Fuel Consumption from Truck Driver Data: A Study from the Netherlands. Transportation Research Record: Journal of the Transportation Research Board, 2678(7), 1026–1042.</a>
    </li>
    <li>
      <a href="https://doi.org/10.3389/fpubh.2024.1352979" target="_blank" class="hover:underline">De Winter, J.*, Driessen, T.*, Dodou, D., & Cannoo, A. (2024). Exploring the challenges faced by Dutch truck drivers in the era of technological advancement. Frontiers in Public Health, 12, 1352979.</a>
    </li>
    <li>
      <a href="https://doi.org/10.1016/j.trf.2021.09.021" target="_blank" class="hover:underline">Driessen, T.*, Picco, A.*, Dodou, D., de Waard, D., & De Winter, J. (2021). Driving examiners' views on data-driven assessment of test candidates: An interview study. Transportation Research Part F: Traffic Psychology and Behaviour, 83, 60–79.</a>
    </li>
    <li>
      <a href="https://doi.org/10.3390/info11070353" target="_blank" class="hover:underline">Krüger, M.*, Driessen, T.*, Wiebel-Herboth, C. B., De Winter, J., & Wersing, H. (2020). Feeling uncertain—Effects of a vibrotactile belt that communicates vehicle sensor uncertainty. Information, 11(7), 353.</a>
    </li>
  </ul>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">Conference Proceedings</div>
  </div>
  <ul class="list-disc mx-6 mb-6 grid gap-2">
    <li value="9">
      <a href="https://www.ictct.net/wp-content/uploads/36-Hague-2024/ICTCT2024_paper_119.pdf" target="_blank" class="hover:underline">De Winter, J., Driessen, T., Dodou, D., Cannoo, A. (2024). Truck drivers prefer traditional mirrors over camera systems: A questionnaire study. Proceedings of the International Co-operation on Theories and Concepts in Traffic Safety, The Hague, The Netherlands.</a>
    </li>
    <li>
      <a href="https://doi.org/10.54941/ahfe1002433" target="_blank" class="hover:underline">Driessen, T., Prasad, L., Bazilinskyy, P., & De Winter, J. (2022). Identifying Lane Changes Automatically using the GPS Sensors of Portable Devices. 13th International Conference on Applied Human Factors and Ergonomics (AHFE 2022). New York, USA.</a>
    </li>
  </ul>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">Patents</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li value="11">
      Driessen, T., Krüger, M., Wiebel-Herboth, C. (2020). Method for assisting a person acting in a dynamic environment and corresponding system. European Patent no. EP3723066A1. Honda Research Institute Europe GmbH.
    </li>
  </ul>

  <div class="mb-3">
    <div class="text-xl w-full font-semibold">Speaker Engagements</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      German Ministry of Transport and Digital Infrastructure (BMVI), contributed to "Safe and sustainable mobility supported by data" seminar series (2021)
    </li>
    <li>
      CIECA (International Commission for Driver Testing), seminar on data-driven assessment of driving test candidates (2022)
    </li>
    <li>
      Ministerie van Infrastructuur en Waterstaat on findings in Towards Safe Mobility for All; A Data Driven Approach project (2023)
    </li>
    <li>
      Freight & Logistics Lab Delft Seminar on findings in Truck Driver survey study (2024)
    </li>
  </ul>

  <div class="text-sm italic mb-10">* joint first authors</div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tools</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>MATLAB</li>
    <li>React</li>
    <li>GitHub</li>
    <li>QGIS</li>
    <li>PostgreSQL</li>
    <li>Google Cloud</li>
    <li>Paperspace</li>
    <li>Azure ML Studio</li>
    <li>Docker</li>
    <li>AI/ML</li>
  </ul>
</BaseLayout>