---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-20">
  <!-- <div class="pb-2">
    &copy; {today.getFullYear()} Manuel Ernesto
  </div> -->
  <div class="inline opacity-60">
    Web design by <a href="https://github.com/manuelernestog" target="_blank">Manuel Ernesto
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
  </div>
</footer>
<style></style>
